<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<http:listener-config name="api-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="${http.port}" />
	</http:listener-config>
	<apikit:config name="api-config" api="api.raml"
		outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="2230d81f-7489-4c0f-b139-5d577632abce" file="properties/common.yaml" />
	<configuration-properties doc:name="Configuration properties" doc:id="ad7cdb36-7187-4dd0-944e-1de7d03c8d4b" file="properties/${env}.yaml" />
	<global-property doc:name="Global Property" doc:id="2c72c5c9-2e8d-481a-99ba-e2c45e0f7b7c" name="env" value="dev" />

<http:request-config name="SystemHttp_Request_configuration" doc:name="HTTP Request configuration" doc:id="9b24b906-8a83-4470-935b-80c466dfb39f" basePath="${system.http.basePath}" >
		<http:request-connection host="${system.http.host}" port="${system.http.port}" connectionIdleTimeout="${system.http.timeout}" />
	</http:request-config>
</mule>
