<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<http:listener-config name="api-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="${http.port}" />
	</http:listener-config>
	<apikit:config name="api-config" api="api.raml"
		outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="17e68533-7b57-4d47-8c38-4580f19033da" file="properties/${env}.yaml" />
	<configuration-properties doc:name="Configuration properties" doc:id="7eca8de2-5195-4b41-b7bd-885a313f734a" file="properties/common.yaml" />
	<global-property doc:name="Global Property" doc:id="a66e5851-56ea-4e52-99ca-d17bbbecc5f3" name="env" value="dev" />
<db:config name="MYSQL_Database_Config" doc:name="Database Config" doc:id="9f697dc7-9e40-4f61-ad9b-b71b1cecbf46" >
		<db:my-sql-connection host="${mysql.host}" port="${mysql.port}" user="${mysql.username}" password="${mysql.password}" database="${mysql.db}" />
	</db:config>
	<http:request-config name="SAP_API_HTTP_Configuration" doc:name="HTTP Request configuration" doc:id="6d8b2add-1e94-4187-9134-3b0805a10959" >
		<http:request-connection protocol="HTTPS" host="${sap.host}" port="${sap.port}" connectionIdleTimeout="${sap.timeout}" />
	</http:request-config>
</mule>
